body {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 1500px 1000px;
    overflow: scroll;
    text-align: center;
    font-family: 'Gamja Flower', cursive;
    font-weight: bold;
}

#login_div {
    text-align: center;
    padding: 50px;
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none; 
    border:1px solid #ecf0f1;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#login_btn {
    display: inline-block;
    background-color: #4d4d4d;
    color: #d9d9d9;
    border-radius: 10px;
    border-color: #4d4d4d;
    border-width: 1px;
    text-align: center;
    font-size: 45px;
    padding: 15px;
    width: 180px;
    height: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
    font-family: 'Gamja Flower', cursive;
}

#map {
    height: 60vh;
  

    
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
#login_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#login_btn span:after {
    content: '\003E\003E';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -60px;
    transition: 0.5s;
}

#login_btn:hover span {
    padding-right: 40px;
}

#login_btn:hover span:after {
    opacity: 1;
    right: 0;
}

.flight_regis_header, #next_fantastic, #my_ticket, #new_user_header, #change_password_header, #enter_info_header, .your_ticket {
    font-size: 70px;
    color: #1a1a1a;
}

#ticket_result {
    text-align: center;
    margin: 0 auto;
}

#ticket_result td {
    font-size: 30px;
    color: #1a1a1a;
    width: 200px;
}

#result td {
    font-size: 30px;
    color: #1a1a1a;
    width: 200px;
}

#myTicketTable {
    color: #1a1a1a;
    font-size: 30px;
}

#myTicketTable th {
    width: 170px;
}

#next_fantastic {
    padding-left: 200px;
}

input {
    font-size: 20px;
    color: #1a1a1a;
    margin: 30px;
    padding: 15px;
}


.login_user_span, .login_password_span, #depart_span_search, #arrival_span_search, 
#date_span_search, #user_span_in_new, #password_span_in_new, #back, #user_span_in_change, 
#old_span_in_change, #new_span_in_change, #last_in_confirm, #first_in_confirm, #age_in_confirm, 
#gender_in_confirm, #email_in_confirm{
    text-align: left;
    font-size: 35px;
    color: #1a1a1a;
    font-weight: bold;
}

#age_in_confirm {
    padding-right: 95px;
}

#gender_in_confirm {
    padding-right: 50px;
}

#email_in_confirm {
    padding-right: 70px;
}

.login_user_span {
    padding-right: 77px;
}

.login_password_span {
    padding-right: 20px;
}

#user_span_in_new {
    padding-right: 65px;
}

#user_span_in_change {
    padding-right: 60px;
}

#old_span_in_change {
    padding-right: 10px;
}

input[type=text]:focus {
    background-color: #ceccca;
}

#register, #change_pass {
    font-size: 40px;
    color: #1a1a1a;
    font-weight: bold;
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tickets_btn, #logoutBtn {
    float: right;
}

#logoutBtn, #tickets_btn, #search_btn, #ticketback, #register_btn, 
#change_btn, #change_back, #select_btn, #confirm_btn, #confirm_back, .cancel, #info_back{
    display: inline-block;
    background-color: #4d4d4d;
    color: #d9d9d9;
    border-radius: 10px;
    border-color: #4d4d4d;
    border-width: 1px;
    text-align: center;
    font-size: 23px;
    padding: 5px;
    width: 100px;
    height: 60px;
    font-family: 'Gamja Flower', cursive;
    margin: 10px;
}

#search_btn {
    width: 150px;
    height: 90px;
    font-size: 40px;
}

#ticketback {
    height: 50px;
}

#change_btn {
    width: 200px;
}

#select_btn {
    width: 80px;
    height: 50px;
}

#source, #destination, #d_date{
    width: 200px;
}

#arrival_span_search {
    padding-right: 50px;
}

#date_span_search {
    padding-right: 150px;
}

