body {
    background-color: #B0C4DE;
    text-align: center;
}

#login_div {
    text-align: center;
    padding: 50px;
}

#login_btn {
    display: inline-block;
    background-color: #808080;
    color: #d9d9d9;
    border-radius: 10px;
    border-color: #666666;
    border-width: 1px;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#login_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#login_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#login_btn:hover span {
    padding-right: 25px;
}

#login_btn:hover span:after {
    opacity: 1;
    right: 0;
}

#register {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #404040;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: #404040;
}

#login_user,
#login_pass {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #404040;
}